# Nth nearst distance finding

In [1]:
points=[(0,3), (3,0), (3,3), (4,0), (0,5)]
Q=(0,0)
k=4

import pandas as pd

data=pd.DataFrame(points,columns=['X','Y'])
data["ref_x"]= Q[0]
data["ref_y"]= Q[1]
data["distance"]=0
data["Rank"]=0
data["distance"]=((data["ref_x"]-data["X"])**2+(data["ref_y"]-data["Y"])**2)**0.5
data=data.sort_values(by=['distance'],ascending=[True])
data.index=list(range(1,data.shape[0]+1))
data["Rank"]=list(range(1,data.shape[0]+1))
for x in range(data.shape[0]):
  if data.iloc[x][5]==float(k):
    print(data.iloc[x][0],data.iloc[x][1])

data

3.0 3.0

/var/folders/r0/dqhy5bs54111m22ddrzpm1dc0000gn/T/ipykernel_2886/3088352965.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if data.iloc[x][5]==float(k):
/var/folders/r0/dqhy5bs54111m22ddrzpm1dc0000gn/T/ipykernel_2886/3088352965.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data.iloc[x][0],data.iloc[x][1])

   X  Y  ref_x  ref_y  distance  Rank
1  0  3      0      0  3.000000     1
2  3  0      0      0  3.000000     2
3  4  0      0      0  4.000000     3
4  3  3      0      0  4.242641     4
5  0  5      0      0  5.000000     5

In [2]:
pd.__version__

'2.2.2'

# Text filltering Row

In [3]:
import pandas as pd

text_df = pd.read_excel('input.xlsx')
texts=text_df['Text']
num_text=[]
more_5=[d for d in texts if len(d)>5]
for text in texts:
  for char in text:
    if char.isdigit():
      num_text.append(text)
      break

print(num_text)
print(more_5)
print(text_df)

['abecd1', 'ab1er', 'yt4ij', 'gh15ghk', '7jut3']
['abecd1', 'drfegt', 'common', 'gh15ghk']
      Text
0     abcd
1      sdt
2   abecd1
3      vbr
4    ab1er
5   drfegt
6   common
7    yt4ij
8  gh15ghk
9    7jut3

# Filling "_" problem

In [4]:
srt=[x for x in '____1___1_']

def find_fill(left):
  fill=[]
  for x in range(len(srt)):
    count=1+x
    if srt[x]!='_':
      fill.append(x)
  return fill

def fill_leftright(fill):
    temp1=int(srt[fill[1]])
    temp2=len(srt)-fill[1]

    for x in range(fill[0]+1):
      srt[x]=fill[0]/(fill[0]+1)

    for y in range(fill[1],len(srt)):
      srt[y]= temp1/temp2

    temp3=srt[fill[0]]+srt[fill[1]]
    for z in range(fill[0],fill[1]+1):
      srt[z]=temp3


find_fill=find_fill(str)
fill_leftright(find_fill)
print(srt)

[0.8, 0.8, 0.8, 0.8, 1.3, 1.3, 1.3, 1.3, 1.3, 0.5]