In [1]:
import pandas as pd

df=pd.read_csv('airbnb_contacts.csv')
df

,id_guest,id_host,ds_checkin,ds_checkout,n_guests,n_messages
0,86b39b70-965b-479d-a0b0-719b195acea2,1dfb22ec-c20e-4bf9-b161-1607afa25c5a,2014-12-31,2015-01-02,7.0,5.0
1,14f943bb-74e9-458b-be55-203dc7220688,3347390d-8670-4870-9dab-da30f3700141,2014-11-03,2014-11-07,2.0,8.0
2,425aa1ed-82ab-4ecf-b62f-d61e1848706d,02cafb86-5445-45cc-80f2-405291578356,2014-11-02,2014-11-09,2.0,2.0
3,bb490ede-8a70-4d61-a2e8-625855a393e2,f49c3095-58de-4b8d-9d5b-3bfceceb47d8,2014-11-03,2014-11-07,2.0,5.0
4,b2fda15a-89bb-4e6e-ae81-8b21598e2482,71f1d49e-2ff4-4d72-b8e6-fd4c67feaa74,2014-11-06,2014-11-09,2.0,10.0
...,...,...,...,...,...,...
95,6a8cf97f-8a77-4b55-b79a-b560bca414a4,bf16e655-3249-401b-837b-91d78cd82cdb,2014-11-07,2014-11-10,2.0,10.0
96,882f3764-05cc-436a-b23b-93fea22ea847,6bbb88ca-db66-48c5-9c4b-862f7706284a,2014-10-19,2014-10-21,2.0,1.0
97,0187b377-ad1c-4da4-8a17-568b2c9098f4,ee55912a-88a0-414d-aed7-7f15ce527232,2015-03-18,2015-03-20,1.0,2.0
98,25cfc206-89aa-4e63-b2f4-3cbb8631d9fb,a6ae621a-72e7-4d11-94b2-4968260cbe6c,2014-10-10,2014-10-12,2.0,8.0
99,37a63847-b09a-4f32-81a5-97cfb8e84c6d,8a429bd7-b9a7-4d5a-a007-5d99aff3dcec,NaN,NaN,NaN,NaN

In [2]:
new_df=df.iloc[:,[True, False, False, False,False,True]]
new_df

                                id_guest  n_messages
0   86b39b70-965b-479d-a0b0-719b195acea2         5.0
1   14f943bb-74e9-458b-be55-203dc7220688         8.0
2   425aa1ed-82ab-4ecf-b62f-d61e1848706d         2.0
3   bb490ede-8a70-4d61-a2e8-625855a393e2         5.0
4   b2fda15a-89bb-4e6e-ae81-8b21598e2482        10.0
..                                   ...         ...
95  6a8cf97f-8a77-4b55-b79a-b560bca414a4        10.0
96  882f3764-05cc-436a-b23b-93fea22ea847         1.0
97  0187b377-ad1c-4da4-8a17-568b2c9098f4         2.0
98  25cfc206-89aa-4e63-b2f4-3cbb8631d9fb         8.0
99  37a63847-b09a-4f32-81a5-97cfb8e84c6d         NaN

[100 rows x 2 columns]

In [3]:
group_df=new_df.groupby(['id_guest'])[['n_messages']].sum()
group_df

                                      n_messages
id_guest
0187b377-ad1c-4da4-8a17-568b2c9098f4         2.0
02f0a750-34da-4268-94e8-f1a371f0460e         8.0
0a8e121b-c09c-4de1-abcc-81bce87de29e         2.0
0f4ea370-702c-4f08-a00d-98e67c2a3574         4.0
125242de-91b4-43bd-a926-75ae4b7a9322         9.0
...                                          ...
f4602827-8672-4545-8887-43702f8c7ecc         7.0
f54989cf-459b-409d-be6a-9534a53cc4a9         4.0
f5ba8f82-682e-4ec9-9c6e-cedc2cd628ca         2.0
fad1a097-a511-4f44-a603-6a271c1f159e         6.0
ffc234be-ca13-4bcb-a472-1c136b800891         3.0

[96 rows x 1 columns]

In [4]:
sort=group_df.sort_values(by='n_messages',ascending=False)
sort

                                      n_messages
id_guest
882f3764-05cc-436a-b23b-93fea22ea847        20.0
62d09c95-c3d2-44e6-9081-a3485618227d        20.0
b8831610-31f2-4c58-8ada-63b3601ca476        17.0
91c2a883-04e3-4bbb-a7bb-620531318ab1        17.0
6133fb99-2391-4d4b-a077-bae40581f925        16.0
...                                          ...
be8a5e0c-e3fb-4517-a799-e1ed8a05b6e6         2.0
0187b377-ad1c-4da4-8a17-568b2c9098f4         2.0
ea445eea-3fac-4edd-b1d6-569f57f6abe4         1.0
b11cd744-101d-409b-9a55-7e151f2e79d5         1.0
37a63847-b09a-4f32-81a5-97cfb8e84c6d         0.0

[96 rows x 1 columns]

In [5]:
sort['Rank']=sort.rank(method='dense',ascending=False)

# for method in ['average', 'min', 'max', 'dense', 'first']:
#     sort[f'{method}_rank'] = sort.groupby('id_guest')['n_messages'].rank(method)
# sort

sort

                                      n_messages  Rank
id_guest
882f3764-05cc-436a-b23b-93fea22ea847        20.0   1.0
62d09c95-c3d2-44e6-9081-a3485618227d        20.0   1.0
b8831610-31f2-4c58-8ada-63b3601ca476        17.0   2.0
91c2a883-04e3-4bbb-a7bb-620531318ab1        17.0   2.0
6133fb99-2391-4d4b-a077-bae40581f925        16.0   3.0
...                                          ...   ...
be8a5e0c-e3fb-4517-a799-e1ed8a05b6e6         2.0  15.0
0187b377-ad1c-4da4-8a17-568b2c9098f4         2.0  15.0
ea445eea-3fac-4edd-b1d6-569f57f6abe4         1.0  16.0
b11cd744-101d-409b-9a55-7e151f2e79d5         1.0  16.0
37a63847-b09a-4f32-81a5-97cfb8e84c6d         0.0  17.0

[96 rows x 2 columns]